<!-- <div class="both-side">
</div> -->
<div style="text-align: center;color: #5d5252;padding-top: 1%;padding-bottom: 1%;font-weight: 600;letter-spacing: 1px;">
    CIN : U7499ODL2018PTC342098
</div>
<div class="d-flex" style="background-color: #333333; color: white;">
    <div class="p-2 flex-fill">

        <div class="d-flex">
            <div class="p-2">
                <div style="border: 2px solid white;width: 130%;height: 35px;border-radius: 5px;margin-top: 15%;">
                    <mat-icon style="font-size: 30px;"> call</mat-icon>
                </div>
            </div>
            <div class="p-2 flex-grow-1" style="margin-left: 1%;">
                <div>70-6556-0002</div>
                <div>70-6556-0011</div>
            </div>
        </div>


    </div>
    <div class="p-2 flex-fill">
        <div class="d-flex">
            <div class="p-2">
                <div style="border: 2px solid white;width: 130%;height: 35px;border-radius: 5px;margin-top: 15%;">
                    <mat-icon style="font-size: 30px;"> place</mat-icon>
                </div>
            </div>
            <div class="p-2 flex-grow-1" style="margin-left: 1%;">
                <div>Plot 23 Sector 18 Maruti Industrial</div>
                <div>Development Area, Gurugram,</div>
                <div>Haryana 122015</div>
            </div>
        </div>



    </div>
    <div class="p-2 flex-fill">
        <div class="d-flex">
            <div class="p-2">
                <div style="border: 2px solid white;width: 130%;height: 35px;border-radius: 5px;margin-top: 15%;">
                    <mat-icon style="font-size: 30px;">language</mat-icon>
                </div>
            </div>
            <div class="p-2 flex-grow-1" style="margin-left: 1%;">
                <div>www.planify.in</div>
                <div>help@planify.in</div>
            </div>
        </div>


    </div>
</div>
<div style="width: 100%; height: 30px; background-color: #811524;border-top: 3px solid white;"></div>
