<div class="header1" style="margin-right: 16px;">
    <app-header></app-header>
</div>
<div class="content1">
    <div class="row" style="margin-right: 6px;">
        <div class="col-md-3" style="border: 2px solid #D1D5DA;border-radius: 7px;
        position: sticky;top:0;margin-right: 6px;height: fit-content;margin-left: 4%;">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-7" style="margin-left: 5%;">
            <app-main></app-main>
        </div>
    </div>

    <div class="col-md-12" style="margin-right: 6px;">
        <app-footer></app-footer>
    </div>
</div>
